<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}

		<ul>
			<li><a href="https://www.innovation.nsw.gov.au/">Innovation NSW</a></li>
			<li><a href="http://www.cswashfund.org/">CSWASH Fund</a></li>
		</ul>

		{{> footer}}
	</body>
</html>